<div class="legal-mentions">
    <h1>Mentions Légales</h1>

    <section>
        <h2>1. Éditeur du site</h2>
        <p>
            Nom de l'entreprise : Oxybul <br>
            Adresse : 155 Rue de Courcelles, 75017 Paris  <br>
            Téléphone : (33)1 891 99961 <br>
            Email : contact@oxybul.fr<br>
            Numéro SIRET : 123NUMERODESIRET456 <br>
            Directeur de la publication : Ms Inconnu.
        </p>
    </section>
    <section>
        <h2>2. Hébergeur</h2>
        <p>
            Nom de l'hébergeur : O2Switch <br>
            Adresse : Paris <br>
            Téléphone : (33) 245 754 3254
        </p>
    </section>
    <section>
        <h2>3. Propriété intellectuelle</h2>
        <p>
            Tout le contenu présent sur ce site (textes, images, graphiques, logo, icônes, etc.) est protégé par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, représentation, modification, publication ou adaptation, totale ou partielle, des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite sans l'autorisation écrite préalable de l'auteur.
        </p>
    </section>
    <section>
        <h2>4. Limitation de responsabilité</h2>
        <p>
            Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour. Cependant, il peut contenir des inexactitudes ou des omissions. Si vous constatez une erreur ou un problème technique, merci de nous le signaler à l'adresse suivante : contact@oxybul.fr.
        </p>
    </section>
    <section>
        <h2>5. Données personnelles</h2>
        <p>
            Les informations collectées via ce site (formulaires de contact, cookies, etc.) sont utilisées uniquement dans le cadre légal prévu en France pour le respect de la vie privée. Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Pour exercer ce droit, contactez-nous à contact@oxybul.fr.
        </p>
    </section>
</div>